.hidden {
  display: none;
}
#demoapp {
  margin-top: 70px;

  .add-button {
    float: right;
  }
}
#add_area {
  margin: 10px 0 10px 0;
}
.view {
  margin: 0 0 5px 0;
  padding: 0;
  width: 100%;
  clear: both;

  .row {
      padding: 4px 0 4px 0;
      float: left;
    }

  div span {
    float: left;
  }

  div .headline {
    margin-right: 5px;
    min-width: 70px;
    text-align: right;
    font-weight: bold;
  }

  div .value {
    margin-right: 5px;
  }

  .btn-toolbar {
    float: right;
    margin-right: 10px;

    .remove-button {
      background-color: btnDangerBackgroundHighlight
    }
  }

  .control-group {
    .controls {
      margin: 0px;
      padding: 0px;
    }
  }
}

.footer {
  padding-top: 25px;
  background-color: #d9edf7;
  border: 1px solid #ddd;
  text: white;
}

.footer, .push {
  height: 2.5em;
}

.grid-row {
  padding: 0;
  margin: 0;

  .grid-buttons {
    padding: 0;
    margin: 0;
  }
}


/* Bootstrap tweaks */

.modal-footer {
  padding: 8px 9px 8px;
}
.modal-body {
  padding: 8px;
}
.control-group {
  margin: 0 0 2px 0;
}
.modal-header {
  padding: 5px;
}
