<td>
    <%= name %>
</td>
<td>
    <div class="grid-row btn-toolbar">
        <div class="grid-buttons btn-group">
            <button class="view-button btn-large">View</button>
            <button class="edit-button btn-large">Edit</button>
            <button class="remove-button btn-large">Remove</button>
        </div>
    <div>
</td>
