<div class="row-fluid">
    <button class="btn btn-primary" style="float: right" type="submit">Filter</button>
    <h3 style="float: left">Filter</h3>
    <fieldset>
        <div id="required_filters" class="control-group"></div>
        <div id="optional_filters" class="control-group" style="display: none"></div>
    </fieldset>
</div>
