<div class="top_view row-fluid">
    <h1 class="span2">People</h1>
    <div class="top-alert span8 row-fluid status-bar"></div>
    <div class="span2 btn_holder">
        <button id="add_new" class="add-button btn-large btn-primary">Add Mode</button>
    </div>
</div>
<div id="add_area" class="row-fluid">
</div>